[user]
	name = bazawy11
	email = bazawy11@gmail.com
	emal = bazawy11@gmail.com
	emaihl = bazawy11@gmail.com
[core]
	editor = \"C:\\Users\\Ahmed\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
